@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Karla, sans-serif;
    font-weight: 600;
    color: #293241;
    background-color: #E0FBFC;
}

/* headings and nav_logo */

h1, h2 {
    font-family: Rubik, sans serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:  #171D26;
}

#nav-logo {
    float: left;
    font-size: 350%;
    margin: 5px;
}


/* nav menu links */

#menu {
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 2px;
    font-weight: bold;
}

#menu, #nav_logo {
    line-height: 75px;
}

#menu, li {
    float: right;
    list-style-type: none;
    margin-right: 60px;
}

#menu, a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color: #EE6C4D;
}

/*hero image*/

/*first image and styling removed*/
#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
}


#hero-image {
    background: url('../images/pexels-cottonbro.jpg') no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: cover;    
}

#hero-text {
    color: #171D26;
    border: none;
    border-radius: 10px;
    width: 33%;
    height: fit-content;
    padding: 20px;
    top: 60%;
    right: 33%;
    text-align: center;
    position: absolute;
    background-color: rgba(224, 251, 252, 0.5);
}

/* listen section */

#listen {
    height: 800px;
    font-weight: 600;
}

.listen-container {
    display: flex;
    background-color: #EE6C4D;
    border-radius: 10px;
}

.listen-heading {
    display: flex;
}

.listen-box {
    border: none;
    padding: 10px;
    margin: 30px;
}

.listen-title {
    text-align: center;
}

.listen-container div {
    border: none;
    padding: 10px;
    text-align: center;
}

.spotify-box {
    flex: 1;
}

.youtube-box {
    flex: 1;
}

.twitch-box {
    flex: 1;
}

.apple-box {
    flex: 1;
}

.icon {
    font-size: 150px;
}

.icon:hover {
    color: #E0FBFC;
    font-size: 150px;
}

#when-container {
    display: flex;
    height: fit-content;
    justify-content: space-around;
}

#when-container div {
        border: none;
        padding: 5px;
        margin: 10px;
}

.when-listen-box {
    flex: 1;
    text-align: center;
}

.when-watch-box {
    flex: 1;
    text-align: center;
}

.when-info {
    padding-bottom: 15px;
}

.when-listen-box h2, .when-watch-box h2 {
    margin: 30px;
}

/* Subscribe form */

#subscribe {
    background-color: #EE6C4D;
    border-radius: 10px;
    font-weight: 600;
}

#form-title {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.signup-form {
    display: flex;
    max-width: fit-content;
    background-color: #E0FBFC;
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 30px;
}

.message {
    display: flex;
    flex-direction: column;
    order: 2;
}

#message-text {
    flex: 1;
    font-family: inherit;
}

.newsletter-signup {
    flex: 1;
    order: 1;
}

.newsletter-signup input {
    width: 80%;
}

.newsletter-signup button {
    background: #293241;
    color: #E0FBFC;
    font-weight: bold;
    border-radius: 10px;
}

.newsletter-signup input,
.newsletter-signup button {
  padding: 1em;
  margin-bottom: 1em;
}

.newsletter-signup button:hover {
    color: #171D26;
    background: #EE6C4D;
}

#form-title h2 {
    padding: 30px;
}

#form-title p {
    padding: 0 40px 15px 40px;
}


/* Tour page */
#tour {
    height: 800px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table td, table th {
    border: 1px solid #293241;
    padding: 10px
}

table th {
    background: #171D26;
    color: #E0FBFC;
    font-weight: bold;
}

table td {
    background: #EE6C4D;
}

table a:hover {
    color: #E0FBFC;
}

#tour-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
}

#tour-title h2 {
    padding-bottom: 20px;
}

/* Footer */
footer {
    background-color: #293241;
    color: #E0FBFC;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

#foot-logo {
    text-align: left;
    text-transform: uppercase;
}

footer  a {
    font-size: 110%;
    padding: 10px;
}

footer a:hover {
    color: #EE6C4D;
}

#socials {
    padding-left: 20px;
}

/* Media Queries */

/* For desktop and tablet size screens */

@media (max-width: 1150px) {
    #nav-logo {
        font-size: 250%;
    }

    #menu {
        margin: 0 auto;
        font-size: 100%;
        float: none;
    }

    .active {
        font-size: 100%;
        font-weight: bold;
    }

    iframe {
        width: 80%;
    }

    .icon {
        font-size: 100px;
    }

    .icon:hover {
        font-size: 100px;
    }


}

/* For medium screens and mobile */

@media (max-width: 900px) {
    #nav-logo {
        font-size: 200%;
        margin: 0 auto;
    }

    #menu {
        width: max-content;
        height: max-content;
        padding-top: 40px;
    }

    #menu, li {
        margin-right: 10px;
    }

    #hero-outer {
        height: 500px;
    }

    #hero-image {
        height: 250px;
    }

    #hero-text {
        margin: 0 auto;
        top: 370px;
        width: 80%;
        left: 20px;
        background-color: #EE6C4D;
    }

    .icon {
        font-size: 70px;
    }

    .icon:hover {
        font-size: 70px;
    }


    #listen {
        height: 1400px;
    }

    #when-container {
        flex-direction: column;
    }

    
    iframe {
        width: 100%;
    }

    #tour {
        padding-bottom: 100px;
    }

    table {
        font-size: 90%;
    }   
}

/* For small mobile screens */

@media (max-width: 350px) {
    table {
        overflow-x: auto;
        display: block;
    }

    #nav-logo {
        text-align: center;
        float: none;
    }

    #menu {
        padding-top: 0;
    }

    #hero-text {
        display: none;
    }

    #hero-outer {
        height: 250px;
    }
}
