@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: karla, sans-serif;
    font-weight: 400;
}