@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Karla, sans-serif;
    font-weight: 400;
    color: #293241;
    background-color: #E0FBFC;
}

/* headings and nav_logo */

h1, h2 {
    font-family: Rubik, sans serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:  #171D26;
}

#nav_logo {
    float: left;
    font-size: 250%;
}


/* nav menu links */

#menu {
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #nav_logo {
    line-height: 75px;
}

#menu, li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu, a {
    text-decoration: none;
    color: inherit;
}

#menu, a:hover {
    font-size: 110%;
}

.active {
    font-size: 200%;
}